@import url(nav.css);
@import url(letras.css);
@import url(footer.css);

:root {
  --color: #0077b6;
  --color-circle: #264653;
  --color-w: white;
  --color-b: #001244;
  --box-shadow: rgba(0, 0, 0, 0.148);
  --b-modal: rgba(0, 0, 0, 0.6);
  --color-l: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.content-input,
.content-input-i,
.documento,
.container-form,
.container-credito,
.container-c-d,
.c-content-l,
.container-ul  {
  display: flex;
}

.content-input-i,
.container-c-d,
.container-form,
.c-content-l {
  flex-direction: column;
  gap: 0.2rem;
}

.content-input,
.documento {
  justify-content: space-between;
}

.c-content-l {
  align-items: start;
}

.container-credito,
.container-c-d,
.container-form,
.c-content-l,
.container-ul  {
  align-items: center;
}


.container-form,
.c-content-l,
.container-ul  {
  justify-content: center;
}

.container-credito {
  justify-content: space-evenly;
}

.container-form {
  width: 100%;
  height: 60vh;
  position: relative;
  background-image: linear-gradient(rgba(15, 19, 35, 0.7),
      rgba(18, 23, 39, 0.7)),
    url("../img/pexels-photo-164572.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.c-w {
  padding: 0.3rem;
  margin-top: 2rem;
}

#modal::backdrop {
  background-color: var(--b-modal);
  overflow: hidden;
  border: none;
}

#modal {
  position: absolute;
  width: 350px;
  height: 550px;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1rem;
}

h3 {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}

/**/
.content-input,
input,
.register,
.l {
  width: 100%;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.range-input {
  width: 100%;
}

.documento>input {
  width: 45%;
  padding: 0.2rem;
}

.input-correo {
  width: 100%;
  padding: 0.2rem;
}

input {
  outline: none;
  border: 1px solid var(--color);
}

.register {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color);
  color: var(--color-w);
  border: none;
  padding: 1rem;
  transition: background-color 0.2s ease;
}

.register:hover {
  background-color: var(--color-circle);
  transition: background-color 0.2s ease;
}

.close {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  right: 0;
  top: 0;
}



/***********container-credito**********/
.container-credito {
  width: 100%;
  height: 50vh;
}

.c-content-l {
  width: 40%;
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10vh;
  color: var(--color-l);
}

.c-content-l>p {
  color: var(--color-l);

}

.c-content-l>p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/***********************************/

h2 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-variation-settings: "wdth" 200;
  margin-bottom: 1.5rem;
  font-size: 5.5vh;
}


.container-c-d {
  width: 30%;
  padding: 6rem 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.284);

}

/**********************************/


/**************btn-m******************/
.container-ul {
  width: 100%;
  height: 20vh;
}
.container-ul >ul{
  list-style: none;
  text-align: center;
}
.container-ul >ul li{
  line-height: 2.5;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/**********************************/


/**************btn-m******************/
.btn-m {
  width: 50%;
  padding: 1.3rem;
  position: relative;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  box-shadow: 2px 2px 2px 2px var(--box-shadow);
}


.btn-m span {
  position: absolute;
  background: var(--color-b);
  transition: 0.5s;
}

.btn-m span:nth-child(1) {
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
}

.btn-m span:nth-child(1) {
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
}

.btn-m span:nth-child(2) {
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
}

.btn-m span:nth-child(3) {
  width: 3px;
  height: 100%;
  bottom: -60px;
  left: 0;
}

.btn-m span:nth-child(4) {
  width: 3px;
  height: 100%;
  top: -60px;
  right: 0;
}

.btn-m:hover span:nth-child(1) {
  left: 0;
}

.btn-m:hover span:nth-child(2) {
  right: 0;
}

.btn-m:hover span:nth-child(3) {
  bottom: 0;
}

.btn-m:hover span:nth-child(4) {
  top: 0;
}

/**************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: rebeccapurple;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (max-width: 575px) {}