* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container-header {
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/pexels-eberhard-grossgasteiger-1062249.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  nav {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
  }
  
  header {
    background-color: #34514ba9;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
  }
  
  .container-logo {
    display: flex;
    justify-content: flex-start;
  }
  
  .container-logo p {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: white;
  }
  
  .container-header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76vh;
  }
  
  .container-stripe {
    background: #56766f;
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-stripe-text {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  
  .container-text-column {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .container-text-column h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 5vw;
    color: #ffffffc5;
  }
  
  .container-text-column p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.5;
    color: #161d1b;
  }
  
  .container-stripe-img {
    width: 500px;
    height: 500px;
    border-radius: 37% 63% 26% 74% / 69% 50% 50% 31%;
    filter: brightness(0.4);
  }
  
  .container-direction {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  
  h1 {
    font-size: 5vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.785);
  }
  
  .sub-text {
    font-size: 1.5vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #90b8acb3;
  }
  
  .container-description {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .container-description-text {
    width: auto;
    line-height: 1.5;
    font-size: 1vw;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #34514b;
    text-align: end;
    line-height: 1.7;
  }
  
  .container-description-text h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 10vw;
  }
  
  .img-description {
    width: 500px;
    height: 600px;
    filter: brightness(0.4);
    object-fit: cover;
  }
  
  .container-grid-center {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
  
  .container-grid {
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .grid {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
  }
  
  .grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    filter: brightness(0.4);
    transition: filter 1s ease;
  }
  
  .grid img:hover {
    filter: brightness(0.9);
  }
  
  footer {
    background: #325158;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-flex {
    margin: 10px;
    gap: 30px;
    width: auto;
    text-align: center;
    padding: 20px;
  }
  
  .footer-flex > h3 {
    font-size: 1.3vw;
    color: aliceblue;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
  
  .footer-flex > li {
    font-size: 0.8vw;
    list-style: none;
    line-height: 1.5;
    color: #60aab0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
  
  @media (max-width: 830px) {
    nav {
      display: none;
    }
  
    .container-header-info {
      height: 40vh;
    }
  
    .img-description {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  
    .container-description-text {
      width: 70%;
    }
    .container-description {
     flex-wrap: wrap;
    }
    .container-stripe-img {
      width: 200px;
      height: 200px;
    }
  }
  @media only screen and (max-width: 575px) {
    .container-stripe-text {
      flex-wrap: wrap;
    }
  }
  